# Ignore everything
*
# ...even if they are in subdirectories
!*/
# except ... in subdirectories
!tests/Flow/n500/0/*
!tests/Flow/n500/system/*
!tests/Flow/n500/constant/*
!tests/Drop/WS0_500_PP-PS-15/0/*
!tests/Drop/WS0_500_PP-PS-15/system/*
!tests/Drop/WS0_500_PP-PS-15/constant/*

